.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  min-width: 528px;
  min-height: 582px;
  background-color: var(--contrast-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  transition: transform var(--animation-duration) var(--animation-timing-function);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--contrast-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--animation-duration) var(--animation-timing-function);
}

.modal__close-icon {
  width: 10px;
  height: 10px;

  .modal__close-btn:hover &,
  .modal__close-btn:focus & {
    fill: var(--accent-color);
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color) #212121;
  margin-bottom: 30px;
}

.modal__field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.modal__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--animation-duration) var(--animation-timing-function);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }

  &:required:focus:not(:placeholder-shown):valid {
    border-color: green;
  }

  &:required:focus:not(:placeholder-shown):invalid {
    border-color: red;
  }
}

.modal__icons {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--main-color);
  transition: fill var(--animation-duration) var(--animation-timing-function);

  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  transition: border-color var(--animation-duration) var(--animation-timing-function);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.modal__policy {
  margin: 0 auto;
}

.modal__policy-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-color);
    margin-right: 7px;
    cursor: pointer;
    transition: border-color var(--animation-duration) var(--animation-timing-function);
  }

  .modal__checkbox:focus + &::before {
    border-color: var(--accent-color);
  }

  .modal__checkbox:checked + &::before {
    background-image: url(../images/icon-checked.svg);
    border: none;
  }
}

.modal__policy-link {
  color: var(--accent-color);
}

.modal__btn {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--contrast-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  margin-top: 30px;
  transition: box-shadow var(--animation-duration) var(--animation-timing-function),
    background-color var(--animation-duration) var(--animation-timing-function);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);

    outline: none;
  }
}
