:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --secondary-color: #757575;
  --contrast-color: #ffffff;
  --background-color: #2f303a;
  --icon-button-back-color: #f5f4fa;
  --icons-color: #afb1b8;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --animation-duration: 250ms;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
